models-glb/*.glb filter=lfs diff=lfs merge=lfs -text
thumbnails.zip filter=lfs diff=lfs merge=lfs -text
thumbnails-small.zip filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
